@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --secondary: #f2aa24;
    --gray1: #0e0e10;
    --gray2: #18181b;
    --gray3: #1f1f23;
}

html, body {
    background: var(--gray1);
}

.search h1, p, .results, a {
    color: white;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.3;
    
}

.back {
    height: 100vh;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min(100% - 2rem, 1200px);
    margin-inline: auto;
    /* background-color: darkgray; */
    font-family: 'Questrial', sans-serif;
}

.search {
    margin-top: 50px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-input {
    background: white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    margin-top: 30px;
    margin-bottom: 5px;
}

.search-input form {
    display: flex;
    align-items: center;
}

.search-input input {
    font-size: 20px;
    width: min(30vw + 10rem, 450px);
    height: 35px;
    background: none;
    border: none;
}

.search-input input:focus {
    outline: none;
}

.search-input form > button {
    height: 35px;
    border: none;
    background: none;
    cursor: pointer;
}

.search-input form > button:hover svg {
    fill:var(--secondary);
}

input, button {
    font-family: 'Questrial', sans-serif;
}

.search-box .search-results {
    width: inherit;
    background-color: var(--gray2);
    border: 1px solid lightgrey;
}

.search-box .search-results > ul {
    width: min(52vw + 5rem, 505px);
    list-style: none;
    list-style-type: none;
    padding: 0;
}

.search-box .search-results #glist #lt {
    font-size: 15px;
    width: inherit;
    color: white;
    text-overflow: ellipsis;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    cursor: pointer;
}

.search-box .search-results button {
    text-align: left;
    background: none;
    border: none;
    width: 100%;
}

.search-box .search-results #glist:hover {
    background-color: var(--gray3);
}

.results {
    width: min(100% - 5rem, 1000px);
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.results-container > * {
    width: 100%;
}

.game-container {
    background-color: var(--gray2);
    padding: 12px;
    margin-bottom: 25px;
}

.section-1 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-grow: 1;
}

.section-1 .game-cover > img {
    box-shadow: var(--gray1) 4px 3px 15px;
}

.section-1 .side-box {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
}

.section-1 .side-box-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-1 .side-box-top a:hover {
    text-decoration: underline;
}

.section-1 .side-box-top a:active {
    color: var(--secondary);
    transition: ease-in-out 0.1s;
}

.section-1 .side-box-top > .game-price {
    font-weight: 500;
}

.steam-details .steam-details-panel {
    display: flex;
    flex-direction: column;
}

.steam-details .steam-score {
    font-weight: 600;
    margin-left: 3px;
}

.steam-details .steam-ratings {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-top: 11px;
    background: var(--gray3);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

.steam-details .steam-ratings > * {
    margin-right: 10px;
}

.steam-reviews .review-interact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.steam-details .steam-reviews .review-interact .trigger-collapse {
    background: none;
    border: none;
    color: white;
    font-size: 19px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trigger-collapse > * {
    transition: ease-in-out 0.2s;
}

.trigger-collapse:hover > * {
    color: var(--secondary);
    fill: var(--secondary);
    transition: ease-in-out 0.2s;
}

.steam-reviews {
    margin-top: 30px;
}

.review-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.review .review-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.review .review-heading > .rating {
    display: flex;
    align-items: center;
    margin-left: 20px;
    background: var(--gray3);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

.review .review-heading > .rating > * {
    margin-right: 6px;
}

.review-list > .review {
    min-width: 0;
    flex: 1 0 50%;
    max-width: 49%;
    padding-left: 2px;
    padding-right: 2px;
    word-wrap: break-word;
}

.ReactCollapse--collapse {
    transition: height 500ms;
    width: 100%;
  }

#student-id {
    position: sticky;
    top: 0;
    left: 0;
    color: white;
    opacity: 0.2;
}

/* Responsive */

@media (max-width: 700px) {
    .section-1  {
        flex-direction: column;
    }

    .section-1 .side-box-top {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .review-list {
        flex-direction: column;
    }

    .review-list > .review {
        max-width: 100%;
    }

}